
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 100;
  margin-right: 100;
  margin-top: 100px;
  display: grid;
  place-items: center;
  padding: 20px;
  }

#cqc {
  text-align: center;
  padding: 2px 16px;
  }

#q {
margin-right: 1000px;
  }

.pcontainer {
  padding: 2px 16px;
  width: 300px;
  padding-left: 0px;
  
}

.button {
  background-color: blueviolet;
  color: white;
  margin-right: auto; 
  margin-left: 0px;
  display: block;
  border-radius: 15px;
}

.start{
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 15px;
}